div {
    color: #FFFFFF90;
    background-color: rgba(40,60,20,1);
}

p {
    color: rgb(138, 185, 88);
}

h1 {
    color: blueviolet;
    text-align: center;
}

img {
    height:500px;
    width: auto;
}